body{
    font-family: 'Open Sans','Arial', sans-serif;

}
header{
    background: url(img/04.jpg);
    text-align: center;
    color: white;
    padding: 90px;
    background-position: center;
}
header h1{
    font-size: 3em;
    margin-top: 90px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
    padding-bottom: 5px;
    
}

header h2{
    margin-top: -26px;
    font-style: italic;

}

header h1, h2{
    text-shadow: 5px
     0 50px black;
}
header button{
    padding: 12px;
    width: 205px;
    font-size: 1em;
    background:rgb(0, 155,235);
    color : white;
    border-radius: 12px;
   
}

header button:hover{
    cursor: pointer;
}

header button :active{
box-shadow: none;
margin-top: 2px;
position: relative;
top: 2px;
}

.menu {
    list-style: none;
    float: right;
    margin-right: 10px;
}

.menu li{
    display: inline;
    margin-right: 10px;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0 3px rgb(0, 55,135);
}